.custom_sidebar, .accordion-title, h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    background-image: radial-gradient(circle, #023382,  #0359e2);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
hr {
    border: 2px solid black;
}
.custom_header {
    border-bottom: 2px solid DimGray;
    padding-bottom: 2px;
}
.custom_sidebar {
    text-decoration: none;
    font-size: large;
    padding: 5px;
}
.terminal_css {}
